body {
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
::selection{
    background-color: rgba(0, 0, 0, 0.153);
    color: rgb(247, 242, 242);
}
nav{
    position: absolute;
    background-color: var(--nav-color);
    width: 100%;
    padding: 10px 0;
    z-index: 5;
    top: 0px;
    left: 0px;
  }

  nav .menu{
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  .menu .logo a{
    text-decoration: none;
    color: rgb(228, 218, 218);
    font-size: 35px;
    font-weight: 600;
  }
  .menu ul{
    display: inline-flex;
  }
  .menu ul li{
    list-style: none;
    margin-left: 7px;
  }
  .menu ul li:first-child{
    margin-left: 0px;
  }
  .menu ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .menu ul li a:hover{
    background: #fff;
    color: black;
  }
.whole {
    padding-top: 140px;
}
.page{
    width: 40cm;
    height: 19.6cm;
    background-size: cover;
    position: absolute;
}
.div1{
    background-color: rgba(114, 112, 110, 0.19);
    width: 265px;
    height: 350px;
    text-align: center;
    margin-bottom: 5px;
    box-shadow: 5px 5px 5px 0 rgba(0, 8, 11, 0.423);
}
.image{
    width: 100px;
    height: 100px;
    border-radius: 50% 50%;
    padding: 15px;
}
.name{
    font-size: 25px;
    margin-top: -15px;
    font-weight: bold;
}
.fan{
    width: 200px;
    height: 200px;
}
h1{
    margin-left: 250px;
    margin-top: -130px;
    background-color: rgba(0, 0, 0, 0.153);
}
.story{
    background-color: rgba(114, 112, 110, 0.140);
    width: 900px;
    height: 600px;
    margin-top: -650px;
    margin-left: 305px;
 
}
.title{
    font-size: 20px;
    font-weight: bold;
    text-align: right;

}
.text{
    text-align: right;
    margin-top: -20px;
}

.div3{
    background-color: rgba(114, 112, 110, 0.19);
    width: 265px;
    height: 345px;
    text-align: center;
    margin-bottom: 5px; 
    margin-left: 1235px;
    margin-top: -713px;
    box-shadow: 5px 5px 5px 0 rgba(0, 8, 11, 0.423);
}
.div4{
    background-color: rgba(114, 112, 110, 0.19);
    width: 265px;
    height: 345px;
    text-align: center;
    margin-bottom: 5px; 
    margin-left: 1235px;
    margin-top: -0px;
    box-shadow: 5px 5px 5px 0px rgba(0, 8, 11, 0.423);
}
.image1{
    width: 100px;
    height: 100px;
    border-radius: 50% 50%;
    padding: 15px;
}
